In [118]:
import numpy as np
import pandas as pd

In [119]:
file=r"E:\Jaison\Cource Meterials\Python\ML\Data\Existing Base.csv"
bd=pd.read_csv(file)
bd.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment Tax Saving Bond,Home Loan,Online Purchase Amount,Revenue Grid,gender,region,Investment in Commudity,Investment in Equity,Investment in Derivative,Portfolio Balance
0,1,Zero,51-55,Partner,Manual Worker,Secretarial/Admin,Own Home,"<17,500, >=15,000",No,No,...,19.99,0.00,0.00,1,Female,Wales,74.67,18.66,32.32,89.43
1,2,Zero,55-60,Single/Never Married,Retired,Retired,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Female,North West,20.19,0.00,4.33,22.78
2,3,Zero,26-30,Single/Never Married,Professional,Other,Own Home,"<30,000, >=27,500",Yes,No,...,0.00,3.49,0.00,2,Male,North,98.06,31.07,80.96,171.78
3,5,Zero,18-21,Single/Never Married,Professional,Manual Worker,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,0.00,2,Female,West Midlands,4.10,14.15,17.57,-41.70
4,6,Zero,45-50,Partner,Business Manager,Unknown,Own Home,"<30,000, >=27,500",No,No,...,0.00,45.91,25.98,2,Female,Scotland,70.16,55.86,80.44,235.02

In [120]:
list(zip(bd.columns,bd.dtypes,bd.nunique()))

[('REF_NO', dtype('int64'), 10155),
 ('children', dtype('O'), 5),
 ('age_band', dtype('O'), 13),
 ('status', dtype('O'), 5),
 ('occupation', dtype('O'), 9),
 ('occupation_partner', dtype('O'), 9),
 ('home_status', dtype('O'), 5),
 ('family_income', dtype('O'), 13),
 ('self_employed', dtype('O'), 2),
 ('self_employed_partner', dtype('O'), 2),
 ('year_last_moved', dtype('int64'), 95),
 ('TVarea', dtype('O'), 14),
 ('post_code', dtype('O'), 10040),
 ('post_area', dtype('O'), 2039),
 ('Average Credit Card Transaction', dtype('float64'), 1411),
 ('Balance Transfer', dtype('float64'), 2183),
 ('Term Deposit', dtype('float64'), 1419),
 ('Life Insurance', dtype('float64'), 3111),
 ('Medical Insurance', dtype('float64'), 1589),
 ('Average A/C Balance', dtype('float64'), 2223),
 ('Personal Loan', dtype('float64'), 1760),
 ('Investment in Mutual Fund', dtype('float64'), 2470),
 ('Investment Tax Saving Bond', dtype('float64'), 832),
 ('Home Loan', dtype('float64'), 884),
 ('Online Purchase Amount', dtype('float64'), 1319),
 ('Revenue Grid', dtype('int64'), 2),
 ('gender', dtype('O'), 3),
 ('region', dtype('O'), 13),
 ('Investment in Commudity', dtype('float64'), 3558),
 ('Investment in Equity', dtype('float64'), 3250),
 ('Investment in Derivative', dtype('float64'), 3796),
 ('Portfolio Balance', dtype('float64'), 8317)]

In [126]:
bd['children'].value_counts()

0    6208
1    1848
2    1607
3     473
4      19
Name: children, dtype: int64

In [127]:
bd['children'].dtype

dtype('int64')

In [123]:
bd['children']=np.where(bd['children'].str[:4]=='Zero',0,bd['children'])

In [124]:
bd['children']=np.where(bd['children'].str[:2]=='4+',4,bd['children'])

In [125]:
bd['children']=pd.to_numeric(bd['children'],errors='coerce')

In [131]:
bd['age'].value_counts()

47.5    1359
38.0    1134
43.0    1112
33.0    1061
53.0    1052
57.5    1047
28.0     927
63.0     881
67.5     598
23.5     456
19.5      63
Name: age, dtype: int64

In [128]:
bd['age_band']=np.where(bd['age_band'].str[:3]=='71+',71,bd['age_band'])

In [129]:
bd['age_band']=bd['age_band'].str.replace('Unknown','0')

In [130]:
k=bd['age_band'].str.split('-',expand=True).astype(float)
bd['age']=0.5*(k[0]+k[1])
del bd['age_band']

In [132]:
bd.head()

,REF_NO,children,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,year_last_moved,...,Home Loan,Online Purchase Amount,Revenue Grid,gender,region,Investment in Commudity,Investment in Equity,Investment in Derivative,Portfolio Balance,age
0,1,0,Partner,Manual Worker,Secretarial/Admin,Own Home,"<17,500, >=15,000",No,No,1972,...,0.00,0.00,1,Female,Wales,74.67,18.66,32.32,89.43,53.0
1,2,0,Single/Never Married,Retired,Retired,Own Home,"<27,500, >=25,000",No,No,1998,...,0.00,0.00,2,Female,North West,20.19,0.00,4.33,22.78,57.5
2,3,0,Single/Never Married,Professional,Other,Own Home,"<30,000, >=27,500",Yes,No,1996,...,3.49,0.00,2,Male,North,98.06,31.07,80.96,171.78,28.0
3,5,0,Single/Never Married,Professional,Manual Worker,Own Home,"<15,000, >=12,500",No,No,1997,...,0.00,0.00,2,Female,West Midlands,4.10,14.15,17.57,-41.70,19.5
4,6,0,Partner,Business Manager,Unknown,Own Home,"<30,000, >=27,500",No,No,1995,...,45.91,25.98,2,Female,Scotland,70.16,55.86,80.44,235.02,47.5

In [140]:
bd['family_income'].value_counts()

35000            2517
<27500>=25000    1227
<30000>=27500     994
<25000>=22500     833
<20000>=17500     683
<12500>=10000     677
<17500>=15000     634
<15000>=12500     629
<22500>=20000     590
<10000>=8000      563
<8000>=4000       402
<4000             278
1                 128
Name: family_income, dtype: int64

In [73]:
bd['family_income']=np.where(bd['family_income'].str[:7]==0,1,bd['family_income'])

In [136]:
bd['family_income']=bd['family_income'].str.replace(',','')

In [134]:
bd['family_income']=bd['family_income'].str.replace('Unknown','1')

In [137]:
bd['family_income']=bd['family_income'].str.replace(' ','')

In [78]:
bd['family_income']=bd['family_income'].str.replace('>=35000','35000')

In [145]:
bd['family_income']=bd['family_income'].str.replace('<30000>=27500','28750')

In [147]:
bd['family_income']=bd['family_income'].str.replace('<25000>=22500','23750')

In [149]:
bd['family_income']=bd['family_income'].str.replace('<20000>=17500','18750')

In [ ]:
bd['family_income']=bd['family_income'].str.replace('<12500>=10000','23750')

In [151]:
bd['family_income']=bd['family_income'].str.replace('<12500>=10000','11250')

In [153]:
bd['family_income']=bd['family_income'].str.replace('<17500>=15000','16250')

In [155]:
bd['family_income']=bd['family_income'].str.replace('<15000>=12500','13750')

In [157]:
bd['family_income']=bd['family_income'].str.replace('<22500>=20000','21250')

In [159]:
bd['family_income']=bd['family_income'].str.replace('<10000>=8000','9000')

In [163]:
bd['family_income']=bd['family_income'].str.replace('<8000>=4000','6000')

In [164]:
bd['family_income']=bd['family_income'].str.replace('<4000','4000')

In [167]:
bd['family_income'].value_counts()

35000    2517
26250    1227
28750     994
23750     833
18750     683
11250     677
16250     634
13750     629
21250     590
9000      563
6000      402
4000      278
1         128
Name: family_income, dtype: int64

In [168]:
bd.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [166]:
bd['family_income']=pd.to_numeric(bd['family_income'],errors='coerce')

In [181]:
bd['family_income'].value_counts()

35000    2517
26250    1227
28750     994
23750     833
18750     683
11250     677
16250     634
13750     629
21250     590
9000      563
6000      402
4000      278
1         128
Name: family_income, dtype: int64

In [171]:
bd['Revenue Grid'].value_counts()

0    9069
1    1086
Name: Revenue Grid, dtype: int64

In [170]:
bd['Revenue Grid']=bd['Revenue Grid'].replace(2,0)

In [172]:
cat_var=bd.select_dtypes(['object']).columns
cat_var

Index(['status', 'occupation', 'occupation_partner', 'home_status',
       'self_employed', 'self_employed_partner', 'TVarea', 'gender', 'region'],
      dtype='object')

In [173]:
for col in cat_var:
    dummy=pd.get_dummies(bd[col],drop_first=True,prefix=col)
    bd=pd.concat([bd,dummy],axis=1)
    del bd[col]
    print(col)
del dummy
bd.shape

status
occupation
occupation_partner
home_status
self_employed
self_employed_partner
TVarea
gender
region

(10155, 73)

In [174]:
bd['children'].value_counts()

0    6208
1    1848
2    1607
3     473
4      19
Name: children, dtype: int64

In [184]:
for col in bd.columns:
    if (bd[col].isnull().sum()>0):
        print(col)

In [183]:
for col in bd.columns:
    if (bd[col].isnull().sum()>0):
        bd.loc[bd[col].isnull(),col]=0.01

In [185]:
bd.columns

Index(['children', 'family_income', 'year_last_moved',
       'Average Credit Card Transaction', 'Balance Transfer', 'Term Deposit',
       'Life Insurance', 'Medical Insurance', 'Average A/C Balance',
       'Personal Loan', 'Investment in Mutual Fund',
       'Investment Tax Saving Bond', 'Home Loan', 'Online Purchase Amount',
       'Revenue Grid', 'Investment in Commudity', 'Investment in Equity',
       'Investment in Derivative', 'Portfolio Balance', 'age',
       'status_Partner', 'status_Single/Never Married', 'status_Unknown',
       'status_Widowed', 'occupation_Housewife', 'occupation_Manual Worker',
       'occupation_Other', 'occupation_Professional', 'occupation_Retired',
       'occupation_Secretarial/Admin', 'occupation_Student',
       'occupation_Unknown', 'occupation_partner_Housewife',
       'occupation_partner_Manual Worker', 'occupation_partner_Other',
       'occupation_partner_Professional', 'occupation_partner_Retired',
       'occupation_partner_Secretarial/Admin', 'occupation_partner_Student',
       'occupation_partner_Unknown', 'home_status_Own Home',
       'home_status_Rent Privately', 'home_status_Rent from Council/HA',
       'home_status_Unclassified', 'self_employed_Yes',
       'self_employed_partner_Yes', 'TVarea_Border', 'TVarea_Carlton',
       'TVarea_Central', 'TVarea_Grampian', 'TVarea_Granada', 'TVarea_HTV',
       'TVarea_Meridian', 'TVarea_Scottish TV', 'TVarea_TV South West',
       'TVarea_Tyne Tees', 'TVarea_Ulster', 'TVarea_Unknown',
       'TVarea_Yorkshire', 'gender_Male', 'gender_Unknown',
       'region_East Anglia', 'region_East Midlands', 'region_Isle of Man',
       'region_North', 'region_North West', 'region_Northern Ireland',
       'region_Scotland', 'region_South East', 'region_South West',
       'region_Unknown', 'region_Wales', 'region_West Midlands'],
      dtype='object')

In [186]:
bd.shape

(10155, 73)

In [187]:
from sklearn.model_selection import train_test_split

In [188]:
bd_train,bd_test=train_test_split(bd,test_size=0.2,random_state=2)

In [189]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [190]:
logr=LogisticRegression(class_weight='balanced')

In [194]:
x_train=bd_train.drop(['Revenue Grid'],axis=1)
y_train=bd_train['Revenue Grid']
x_test=bd_test.drop(['Revenue Grid'],axis=1)
y_test=bd_test["Revenue Grid"]

In [196]:
logr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [197]:
logr.predict(x_test)

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [198]:
logr.predict_proba(x_test)

array([[0.97351629, 0.02648371],
       [0.93985142, 0.06014858],
       [0.92628942, 0.07371058],
       ...,
       [0.11758804, 0.88241196],
       [0.16470626, 0.83529374],
       [0.93744239, 0.06255761]])

In [199]:
logr.classes_

array([0, 1], dtype=int64)

In [200]:
 predicted_probs=logr.predict_proba(x_test)[:,1]

In [201]:
predicted_probs

array([0.02648371, 0.06014858, 0.07371058, ..., 0.88241196, 0.83529374,
       0.06255761])

In [202]:
roc_auc_score(y_test,predicted_probs)

0.9477601984346589

In [284]:
cutoffs=np.linspace(0.424,0.426,500)
cutoffs

array([0.424     , 0.42400401, 0.42400802, 0.42401202, 0.42401603,
       0.42402004, 0.42402405, 0.42402806, 0.42403206, 0.42403607,
       0.42404008, 0.42404409, 0.4240481 , 0.4240521 , 0.42405611,
       0.42406012, 0.42406413, 0.42406814, 0.42407214, 0.42407615,
       0.42408016, 0.42408417, 0.42408818, 0.42409218, 0.42409619,
       0.4241002 , 0.42410421, 0.42410822, 0.42411222, 0.42411623,
       0.42412024, 0.42412425, 0.42412826, 0.42413226, 0.42413627,
       0.42414028, 0.42414429, 0.4241483 , 0.4241523 , 0.42415631,
       0.42416032, 0.42416433, 0.42416834, 0.42417234, 0.42417635,
       0.42418036, 0.42418437, 0.42418838, 0.42419238, 0.42419639,
       0.4242004 , 0.42420441, 0.42420842, 0.42421242, 0.42421643,
       0.42422044, 0.42422445, 0.42422846, 0.42423246, 0.42423647,
       0.42424048, 0.42424449, 0.4242485 , 0.42425251, 0.42425651,
       0.42426052, 0.42426453, 0.42426854, 0.42427255, 0.42427655,
       0.42428056, 0.42428457, 0.42428858, 0.42429259, 0.42429659,
       0.4243006 , 0.42430461, 0.42430862, 0.42431263, 0.42431663,
       0.42432064, 0.42432465, 0.42432866, 0.42433267, 0.42433667,
       0.42434068, 0.42434469, 0.4243487 , 0.42435271, 0.42435671,
       0.42436072, 0.42436473, 0.42436874, 0.42437275, 0.42437675,
       0.42438076, 0.42438477, 0.42438878, 0.42439279, 0.42439679,
       0.4244008 , 0.42440481, 0.42440882, 0.42441283, 0.42441683,
       0.42442084, 0.42442485, 0.42442886, 0.42443287, 0.42443687,
       0.42444088, 0.42444489, 0.4244489 , 0.42445291, 0.42445691,
       0.42446092, 0.42446493, 0.42446894, 0.42447295, 0.42447695,
       0.42448096, 0.42448497, 0.42448898, 0.42449299, 0.42449699,
       0.424501  , 0.42450501, 0.42450902, 0.42451303, 0.42451703,
       0.42452104, 0.42452505, 0.42452906, 0.42453307, 0.42453707,
       0.42454108, 0.42454509, 0.4245491 , 0.42455311, 0.42455711,
       0.42456112, 0.42456513, 0.42456914, 0.42457315, 0.42457715,
       0.42458116, 0.42458517, 0.42458918, 0.42459319, 0.42459719,
       0.4246012 , 0.42460521, 0.42460922, 0.42461323, 0.42461723,
       0.42462124, 0.42462525, 0.42462926, 0.42463327, 0.42463727,
       0.42464128, 0.42464529, 0.4246493 , 0.42465331, 0.42465731,
       0.42466132, 0.42466533, 0.42466934, 0.42467335, 0.42467735,
       0.42468136, 0.42468537, 0.42468938, 0.42469339, 0.42469739,
       0.4247014 , 0.42470541, 0.42470942, 0.42471343, 0.42471743,
       0.42472144, 0.42472545, 0.42472946, 0.42473347, 0.42473747,
       0.42474148, 0.42474549, 0.4247495 , 0.42475351, 0.42475752,
       0.42476152, 0.42476553, 0.42476954, 0.42477355, 0.42477756,
       0.42478156, 0.42478557, 0.42478958, 0.42479359, 0.4247976 ,
       0.4248016 , 0.42480561, 0.42480962, 0.42481363, 0.42481764,
       0.42482164, 0.42482565, 0.42482966, 0.42483367, 0.42483768,
       0.42484168, 0.42484569, 0.4248497 , 0.42485371, 0.42485772,
       0.42486172, 0.42486573, 0.42486974, 0.42487375, 0.42487776,
       0.42488176, 0.42488577, 0.42488978, 0.42489379, 0.4248978 ,
       0.4249018 , 0.42490581, 0.42490982, 0.42491383, 0.42491784,
       0.42492184, 0.42492585, 0.42492986, 0.42493387, 0.42493788,
       0.42494188, 0.42494589, 0.4249499 , 0.42495391, 0.42495792,
       0.42496192, 0.42496593, 0.42496994, 0.42497395, 0.42497796,
       0.42498196, 0.42498597, 0.42498998, 0.42499399, 0.424998  ,
       0.425002  , 0.42500601, 0.42501002, 0.42501403, 0.42501804,
       0.42502204, 0.42502605, 0.42503006, 0.42503407, 0.42503808,
       0.42504208, 0.42504609, 0.4250501 , 0.42505411, 0.42505812,
       0.42506212, 0.42506613, 0.42507014, 0.42507415, 0.42507816,
       0.42508216, 0.42508617, 0.42509018, 0.42509419, 0.4250982 ,
       0.4251022 , 0.42510621, 0.42511022, 0.42511423, 0.42511824,
       0.42512224, 0.42512625, 0.42513026, 0.42513427, 0.42513828,
       0.42514228, 0.42514629, 0.4251503 , 0.42515431, 0.42515832,
       0.42516232, 0.42516633, 0.42517034, 0.42517435, 0.42517836,
       0.42518236, 0.42518637, 0.42519038, 0.42519439, 0.4251984 ,
       0.4252024 , 0.42520641, 0.42521042, 0.42521443, 0.42521844,
       0.42522244, 0.42522645, 0.42523046, 0.42523447, 0.42523848,
       0.42524248, 0.42524649, 0.4252505 , 0.42525451, 0.42525852,
       0.42526253, 0.42526653, 0.42527054, 0.42527455, 0.42527856,
       0.42528257, 0.42528657, 0.42529058, 0.42529459, 0.4252986 ,
       0.42530261, 0.42530661, 0.42531062, 0.42531463, 0.42531864,
       0.42532265, 0.42532665, 0.42533066, 0.42533467, 0.42533868,
       0.42534269, 0.42534669, 0.4253507 , 0.42535471, 0.42535872,
       0.42536273, 0.42536673, 0.42537074, 0.42537475, 0.42537876,
       0.42538277, 0.42538677, 0.42539078, 0.42539479, 0.4253988 ,
       0.42540281, 0.42540681, 0.42541082, 0.42541483, 0.42541884,
       0.42542285, 0.42542685, 0.42543086, 0.42543487, 0.42543888,
       0.42544289, 0.42544689, 0.4254509 , 0.42545491, 0.42545892,
       0.42546293, 0.42546693, 0.42547094, 0.42547495, 0.42547896,
       0.42548297, 0.42548697, 0.42549098, 0.42549499, 0.425499  ,
       0.42550301, 0.42550701, 0.42551102, 0.42551503, 0.42551904,
       0.42552305, 0.42552705, 0.42553106, 0.42553507, 0.42553908,
       0.42554309, 0.42554709, 0.4255511 , 0.42555511, 0.42555912,
       0.42556313, 0.42556713, 0.42557114, 0.42557515, 0.42557916,
       0.42558317, 0.42558717, 0.42559118, 0.42559519, 0.4255992 ,
       0.42560321, 0.42560721, 0.42561122, 0.42561523, 0.42561924,
       0.42562325, 0.42562725, 0.42563126, 0.42563527, 0.42563928,
       0.42564329, 0.42564729, 0.4256513 , 0.42565531, 0.42565932,
       0.42566333, 0.42566733, 0.42567134, 0.42567535, 0.42567936,
       0.42568337, 0.42568737, 0.42569138, 0.42569539, 0.4256994 ,
       0.42570341, 0.42570741, 0.42571142, 0.42571543, 0.42571944,
       0.42572345, 0.42572745, 0.42573146, 0.42573547, 0.42573948,
       0.42574349, 0.42574749, 0.4257515 , 0.42575551, 0.42575952,
       0.42576353, 0.42576754, 0.42577154, 0.42577555, 0.42577956,
       0.42578357, 0.42578758, 0.42579158, 0.42579559, 0.4257996 ,
       0.42580361, 0.42580762, 0.42581162, 0.42581563, 0.42581964,
       0.42582365, 0.42582766, 0.42583166, 0.42583567, 0.42583968,
       0.42584369, 0.4258477 , 0.4258517 , 0.42585571, 0.42585972,
       0.42586373, 0.42586774, 0.42587174, 0.42587575, 0.42587976,
       0.42588377, 0.42588778, 0.42589178, 0.42589579, 0.4258998 ,
       0.42590381, 0.42590782, 0.42591182, 0.42591583, 0.42591984,
       0.42592385, 0.42592786, 0.42593186, 0.42593587, 0.42593988,
       0.42594389, 0.4259479 , 0.4259519 , 0.42595591, 0.42595992,
       0.42596393, 0.42596794, 0.42597194, 0.42597595, 0.42597996,
       0.42598397, 0.42598798, 0.42599198, 0.42599599, 0.426     ])

In [285]:
train_score=logr.predict_proba(x_train)[:,1]
real=y_train

In [286]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)
    
    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
    KS=(TP/P)-(FP/N)
    KS_all.append(KS)

In [287]:
cutoffs[KS_all==max(KS_all)]

array([0.42457315, 0.42457715, 0.42458116, 0.42458517, 0.42458918,
       0.42459319, 0.42459719, 0.4246012 , 0.42460521, 0.42460922,
       0.42461323, 0.42461723, 0.42462124, 0.42462525, 0.42462926,
       0.42463327, 0.42463727, 0.42464128, 0.42464529, 0.4246493 ,
       0.42465331, 0.42465731, 0.42466132, 0.42466533, 0.42466934,
       0.42467335, 0.42467735, 0.42468136, 0.42468537, 0.42468938,
       0.42469339, 0.42469739, 0.4247014 , 0.42470541, 0.42470942,
       0.42471343, 0.42471743, 0.42472144, 0.42472545, 0.42472946,
       0.42473347, 0.42473747, 0.42474148, 0.42474549, 0.4247495 ,
       0.42475351, 0.42475752, 0.42476152, 0.42476553, 0.42476954,
       0.42477355, 0.42477756, 0.42478156, 0.42478557, 0.42478958,
       0.42479359, 0.4247976 , 0.4248016 , 0.42480561, 0.42480962,
       0.42481363, 0.42481764, 0.42482164, 0.42482565, 0.42482966,
       0.42483367, 0.42483768, 0.42484168, 0.42484569, 0.4248497 ,
       0.42485371, 0.42485772, 0.42486172, 0.42486573, 0.42486974,
       0.42487375, 0.42487776, 0.42488176, 0.42488577, 0.42488978,
       0.42489379, 0.4248978 , 0.4249018 , 0.42490581, 0.42490982,
       0.42491383, 0.42491784, 0.42492184, 0.42492585, 0.42492986,
       0.42493387, 0.42493788, 0.42494188, 0.42494589, 0.4249499 ,
       0.42495391, 0.42495792, 0.42496192, 0.42496593, 0.42496994,
       0.42497395, 0.42497796, 0.42498196, 0.42498597, 0.42498998,
       0.42499399, 0.424998  , 0.425002  , 0.42500601, 0.42501002,
       0.42501403, 0.42501804, 0.42502204, 0.42502605, 0.42503006,
       0.42503407, 0.42503808, 0.42504208, 0.42504609, 0.4250501 ,
       0.42505411, 0.42505812, 0.42506212, 0.42506613, 0.42507014,
       0.42507415, 0.42507816, 0.42508216, 0.42508617, 0.42509018,
       0.42509419, 0.4250982 , 0.4251022 , 0.42510621, 0.42511022,
       0.42511423, 0.42511824, 0.42512224, 0.42512625, 0.42513026,
       0.42513427, 0.42513828, 0.42514228, 0.42514629, 0.4251503 ,
       0.42515431, 0.42515832, 0.42516232, 0.42516633, 0.42517034,
       0.42517435, 0.42517836, 0.42518236, 0.42518637, 0.42519038,
       0.42519439, 0.4251984 , 0.4252024 , 0.42520641, 0.42521042,
       0.42521443, 0.42521844, 0.42522244, 0.42522645, 0.42523046,
       0.42523447, 0.42523848, 0.42524248, 0.42524649, 0.4252505 ,
       0.42525451, 0.42525852, 0.42526253, 0.42526653, 0.42527054,
       0.42527455, 0.42527856, 0.42528257, 0.42528657, 0.42529058,
       0.42529459, 0.4252986 , 0.42530261, 0.42530661, 0.42531062,
       0.42531463, 0.42531864, 0.42532265, 0.42532665, 0.42533066,
       0.42533467, 0.42533868, 0.42534269, 0.42534669, 0.4253507 ,
       0.42535471, 0.42535872, 0.42536273, 0.42536673, 0.42537074,
       0.42537475, 0.42537876, 0.42538277, 0.42538677, 0.42539078,
       0.42539479, 0.4253988 , 0.42540281, 0.42540681, 0.42541082,
       0.42541483, 0.42541884, 0.42542285, 0.42542685, 0.42543086,
       0.42543487, 0.42543888, 0.42544289, 0.42544689, 0.4254509 ,
       0.42545491, 0.42545892, 0.42546293, 0.42546693, 0.42547094,
       0.42547495, 0.42547896, 0.42548297, 0.42548697, 0.42549098,
       0.42549499, 0.425499  , 0.42550301, 0.42550701, 0.42551102,
       0.42551503, 0.42551904, 0.42552305, 0.42552705, 0.42553106,
       0.42553507, 0.42553908])

In [288]:
list(zip(x_train.columns,logr.coef_[0]))

[('children', -0.010324629204762575),
 ('family_income', 4.814922892848107e-06),
 ('year_last_moved', -0.000281548485429019),
 ('Average Credit Card Transaction', 0.022673922651934304),
 ('Balance Transfer', -0.005877311500203519),
 ('Term Deposit', -0.019230409767173752),
 ('Life Insurance', 0.007839554816935834),
 ('Medical Insurance', -0.01790786908679223),
 ('Average A/C Balance', -0.00897550550529398),
 ('Personal Loan', -0.0391897495335612),
 ('Investment in Mutual Fund', -0.007331343855521319),
 ('Investment Tax Saving Bond', 0.08460992480653223),
 ('Home Loan', -0.08210593279242014),
 ('Online Purchase Amount', 0.056456642927178814),
 ('Investment in Commudity', 0.003185228528989444),
 ('Investment in Equity', 0.004511522766209585),
 ('Investment in Derivative', 0.03906065476324745),
 ('Portfolio Balance', -0.00023217989177703658),
 ('age', -0.005474649878799067),
 ('status_Partner', 0.13910163100605255),
 ('status_Single/Never Married', -0.12635750095008508),
 ('status_Unknown', 0.17301788098499435),
 ('status_Widowed', -0.47883094086140554),
 ('occupation_Housewife', -0.2714314710587472),
 ('occupation_Manual Worker', 0.14783715097994415),
 ('occupation_Other', 0.00453780570856936),
 ('occupation_Professional', -0.25230660463772947),
 ('occupation_Retired', -0.2392283757151324),
 ('occupation_Secretarial/Admin', -0.327997600170408),
 ('occupation_Student', -0.07008743757419682),
 ('occupation_Unknown', -0.22085015885269307),
 ('occupation_partner_Housewife', -0.37977845421280715),
 ('occupation_partner_Manual Worker', 0.09871340916152964),
 ('occupation_partner_Other', 0.09000782767106504),
 ('occupation_partner_Professional', 0.07181797042538644),
 ('occupation_partner_Retired', -0.06401958567476299),
 ('occupation_partner_Secretarial/Admin', 0.018925989137372496),
 ('occupation_partner_Student', 0.44229236780810227),
 ('occupation_partner_Unknown', 0.12955245133313362),
 ('home_status_Own Home', 0.1695670354360772),
 ('home_status_Rent Privately', 0.14508449870592188),
 ('home_status_Rent from Council/HA', -0.0705370744091468),
 ('home_status_Unclassified', -0.2785341772502926),
 ('self_employed_Yes', 0.1368000702770177),
 ('self_employed_partner_Yes', 0.17616738774281715),
 ('TVarea_Border', -0.4318250562185666),
 ('TVarea_Carlton', 0.17801380919640916),
 ('TVarea_Central', 0.052824866090062615),
 ('TVarea_Grampian', -0.003858297935094518),
 ('TVarea_Granada', 0.3122789959555893),
 ('TVarea_HTV', -0.340874425675921),
 ('TVarea_Meridian', -0.2851930915377249),
 ('TVarea_Scottish TV', 0.4070885699740142),
 ('TVarea_TV South West', 0.4797606732888322),
 ('TVarea_Tyne Tees', 0.6007078218354373),
 ('TVarea_Ulster', 0.05184120797035597),
 ('TVarea_Unknown', 0.8208528419051234),
 ('TVarea_Yorkshire', 0.18394869293861213),
 ('gender_Male', 0.3426251317324702),
 ('gender_Unknown', -0.3080313565239678),
 ('region_East Anglia', 0.004563368578314305),
 ('region_East Midlands', -0.18286652088741978),
 ('region_Isle of Man', -0.4717650641308721),
 ('region_North', -0.6258796135743979),
 ('region_North West', -0.09772319531140243),
 ('region_Northern Ireland', 0.05184120797035597),
 ('region_Scotland', 0.00016292509090652367),
 ('region_South East', -0.1862711150732261),
 ('region_South West', -0.0438011588171291),
 ('region_Unknown', -0.2281706906154651),
 ('region_Wales', 0.09943827245337596),
 ('region_West Midlands', -0.2939617409379593)]